.grid{
    font-size: 1.8em;
}

h1{
    font-size: 4em;
}
body{
    background-color: aliceblue;
}
.recipe-img{
    margin: 2em 0em;
}
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 20px;
    color: rgb(235, 180, 144);
    transform: scale(1.5);
  }
  .box:hover i{
    background-color: lightcoral;
    transform: scale(1.5);
}


.gradient {
    background: linear-gradient(to right, rgba(235,180,144,0.5), rgba(255,248,240,0.5))
}

.sidebars p{    
    margin: 0;
}

.sidebars .row{
    display: flex;
    align-items: center;
    height: 5em;
    padding-left: 1em;
    
}

.sidebars .row:hover{
background-color: bisque;
}

.sidebars .row img{
    padding-right: 1em;
}
